<!--beque html here-->
<div id="bequeContainer">
  <button class="button" id="bequePush" on-drag-up="dragUp()" on-drag-down="dragDown()" on-release="dragEnd()">
    Arrastar pra baixo
  </button>

  <button class="button" on-touch="restart()">
    Acender outro
  </button>
</div>
