<!--menu template html-->
<ion-header-bar class="bar-positive" id="header-menu">
	<button class="button icon ion-navicon"></button>
	<h1 class="title">contandoUmDois</h1>
</ion-header-bar>

<ul class="list" id="lista-menu">
	<li class="item">item 1</li>
	<li class="item">item 2</li>
</ul>