#bequeContainer{
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  background: green;
  color: red;
}


#bequePush{
  position: absolute;
  display: block;
  width:80%;
  height: 100px;
  left:10%;
  bottom:20%;
}
